doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/boostrap.css')
    link(rel='stylesheet', href='/bootstrap/css/boostrap-responsive.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascript/jquery-2.0.0.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
  body
    block content
